:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cell-size: 30px;
  --grid-width: 9;
  --grid-height: 9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: calc(var(--grid-width) * var(--cell-size));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
  height: max-content;
  margin: auto;

  padding-top: 0.7rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  row-gap: 0.7rem;

  background-color: #484e56;
  border-top: 7px solid #7a8088;
  border-right: 7px solid #20262e;
  border-bottom: 7px solid #20262e;
  border-left: 7px solid #7a8088;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(var(--grid-width) * var(--cell-size));
  height: calc(var(--grid-width) * var(--cell-size) / 4);

  background-color: #484e56;
  border-top: 6px solid #20262e;
  border-right: 6px solid #7a8088;
  border-bottom: 6px solid #7a8088;
  border-left: 6px solid #20262e;

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 50px;

    color: #bc171a;
    font-size: xx-large;
    font-weight: bolder;    

    background-color: black;
    border-top: 3px solid #20262e;
    border-right: 3px solid #5b6067;
    border-bottom: 3px solid #5b6067;
    border-left: 3px solid #20262e;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    font-size: x-large;

    background-color: #484e56;
    border-top: 5px solid #7a8088;
    border-right: 5px solid #20262e;
    border-bottom: 5px solid #20262e;
    border-left: 5px solid #7a8088;
  }

  &__timer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 50px;

    color: #bc171a;
    font-size: xx-large;
    font-weight: bolder;

    background-color: black;
    border-top: 3px solid #20262e;
    border-right: 3px solid #5b6067;
    border-bottom: 3px solid #5b6067;
    border-left: 3px solid #20262e;    
  }
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  height: max-content;

  background-color: #484e56;
  border-top: 7px solid #20262e;
  border-right: 7px solid #7a8088;
  border-bottom: 7px solid #7a8088;
  border-left: 7px solid #20262e;

  &__grid {
    display: grid;

    grid-template-columns: repeat(var(--grid-width), var(--cell-size));
    grid-template-rows: repeat(var(--grid-height), var(--cell-size));

    width: max-content;
    height: max-content;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--cell-size);
    height: var(--cell-size);

    font-size: x-large;
    font-weight: bold;

    background-color: #4e545c;
    border-top: 4px solid #727880;
    border-right: 4px solid #242a32;
    border-bottom: 4px solid #242a32;
    border-left: 4px solid #727880;    
  }
}

.pressed-button {
  background-color: #384048;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.revealed-mine {
  background-color: #bc171a;
  border: 2px solid #242424;
}
